@use "./../../assets/palette";
@import "./../../assets/respmixin";

.Footer {
    background-color: palette.$footer-colour;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
