$header-colour: #4e0000;

$body-colour: #e9bf00;
$ring-contents-colour: #fcffc2;
$ring-hot-colour: #830000;
$ring-cold-colour: #005a7b;
$button-cold-colour: #3fc7f8;
$button-hot-colour: #ff4343;
$footer-colour: #005878;
